.bottom-content {
  background: #fff;

  p {
    color: #00a98f;
    @include fontSize(30px);
    font-weight: 400;
    text-align: center;
  }

  .title-1 {
    padding-top: 76px;
    padding-bottom: 65px;

    @media only screen and (max-width : 992px){
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @media only screen and (max-width : 480px){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .title-2 {
    @include fontSize(48px);
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 94px;

    @media only screen and (max-width : 992px){
      padding-bottom: 50px;
    }

    @media only screen and (max-width : 480px){
      padding-bottom: 30px;
    }
  }

  .btn {
    display: flex;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}